

.all_cities_listings{


    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    border: 1px solid red;
}


.all_cities_listings .card{

    width: 20vw;
}


.all_cities_listings .card img{

    width: 100%;
}