


.cityabout{

    width: 80vw;
    margin: 20px auto;
}


.city_temples{
    width: 80vw;
    margin: 00 auto;

}

.citybased_temple_card{

    width: 20vw;
    margin: 20px;
}

.citybased_temple_card img{

    width: 100%;
    
    border-radius: 5px;
}


.citybased_temples_all:hover{


    cursor: pointer;
}